body {
    margin: 0;
    font-family: "Freeman", Arial, sans-serif;
    background-color: #FBE7EA;
}

header {
    background-color: #9B1A2E;
    color: #FBE7EA;
    padding: 10px;
}

.header-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header-container img {}

.header-navigation {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.header-navigation a {
    display: flex;
    color: #000000;
    text-decoration: none;
    width: 130px;
    height: 40px;
    background-color: #FBE7EA;
    border-radius: 5px;
    white-space: nowrap;

    justify-content: center;
    align-items: center;
}

.header-navigation a:hover {
    background-color: #3d3d3d;
    color: #FBE7EA;
}

#head_fat {
    width: 267px;
    height: 40px;
}

.header-navigation_1 {
    display: flex;
    flex-wrap: wrap;
    width: 267px;
    gap: 7px;
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    padding: 20px;
}










footer {
    background-color: #9B1A2E;
    color: #FBE7EA;
    padding: 40px 0;
}

.footer-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer div {
    margin-bottom: 15px;
    flex: 1;
    min-width: 200px;
}

footer h4 {
    margin-bottom: 10px;
}

footer a {
    color: #FBE7EA;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

footer a:hover {
    text-decoration: underline;
}















main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.vacancies {
    text-align: left;
    margin-bottom: 40px;
}

.vacancies h3 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.vacancies h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.vacancies p {
    font-size: 18px;
    line-height: 1.5;
}

.form-section {
    padding: 20px;
    border-radius: 8px;
}

.form-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.form-section label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
#region{
    width: 100%;
}
.form-section select,
.form-section input[type="text"] {
    width: 97%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
    background-color: #d9d9d9;
}

.form-section .checkbox {

    display: flex;
    align-items: center;
    user-select: none;

}

.form-section .checkbox input {
    margin-right: 10px;
    margin-top: -6px; 
    border-radius: 50px;
}

.form-section button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #9B1A2E;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

.form-section button:hover {
    background-color: #a81d1d;
}